.post-content {

	padding: 5em 0 2em;

	background-color: white;

	text-align: justify;

	img {
		width: 100%;
	}

	table {
		width: 100%;
		margin: 2em 0;
		text-align: center;

		tr:not(:last-child) {
			border-bottom: 1px solid #333;
		}
	}

	.highlighter-rouge{
		margin-bottom: 1em;

		pre.highlight{
			margin: 0;
			padding: 0;
		}
	}

	.container {

		.small-content {
			display: block;
			text-align: center;

			img{
				width: 30%;
				height: auto;
			}
		}

		.quote-note {
			border-color: #3498db;
			color: #2980b9;
			background-color: #2980b920;
			padding: 1em;

			p {
				margin: 0;
			}
		}

		.quote-warning {
			border-color: #e67e22;
			color: #d35400;
			background-color: #d3540020;
			padding: 1em;

			p {
				margin: 0;
			}
		}

		@include media-breakpoint-up(sm) {

			width: 490px;

			.large-content {
				margin-left: -3em;
				margin-right: -3em;
			}

		}

		@include media-breakpoint-up(md) {

			width: 670px;

			.large-content {
				margin-left: -3em;
				margin-right: -3em;
			}

		}

		@include media-breakpoint-up(lg) {

			.large-content {
				margin-left: -6em;
				margin-right: -6em;
			}

		}

		@include media-breakpoint-up(xl) {

			.large-content {
				margin-left: -9em;
				margin-right: -9em;
			}

		}

	}

}
